@import url('https://fonts.googleapis.com/css?family=Numans');
html,body{
height: 100%;
background-image: url('https://i.pinimg.com/736x/b4/d0/61/b4d0616284dbda5fdf7a71c93194ff83.jpg');
background-size: 100%100%;
background-repeat: no-repeat;
font-family: 'Numans', sans-serif;
}
.field{
	background-color:#88C6FC;
   margin-right: auto;
     margin-left: auto;
 }
}
.legendscript{
	background-color: gray;
  color: white;
  padding: 5px 10px;
  }
  .report{
  background-color: #88C6FC;
    padding: 5px 10px;
    
  }
 .center table{
     margin-right: auto;
     margin-left: auto;
 }
 .reportcard{
 color: white;
     text-align:center;
 }
 .download{
color: white !important;
background-color:#88C6FC ;
width: 200px;
margin-right: auto;
     margin-left: auto;
}
 .rep